html {
  font-family: 'Arimo', sans-serif;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: 'Arimo';
}

.nav-link {
  font: 16px;
  margin: 15px;
  color: black !important;
}

.nav-link:hover{
  color: #B3B6B7 !important;
}

.active .nav-link{
  color: #1C2833;
}

div.site-summary{
  background-image:url("img/young-family.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.site-title, .site-desc {
  color: white;
}
.site-title{
  margin-top: 30%;
  margin-bottom: 6%;
  font-size: 50px;
}

.site-title, .card-text{

  padding: 10px;
}

.site-desc{
  font-size: 14px;
  padding-left: 15%;
}

.site-btn1{
  margin-left: 20%;
  background-color: black;
  color: white;
}

.site-btn2{
  background-color: white;
}

.site-btn1, .site-btn2{
  margin-top: 5%;
  margin-bottom: 40%;
}

/* section one */

.section-1, .heading-1{
  margin-top:8%;
}

.section-1, .para1{
  widows: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
}

.section-1 .card{
  width: 20rem;
  }

.section-1, .card-text, .para1{
  color: #283747;
}

.section-1{
  margin: 8%;
}

/* section 2 */

.section-2 .container-fluid{
  background-image: url("img/financial-consult.jpg");
  background-size: cover;
  background-attachment: fixed;
}


.section-2 .heading-1{
  margin-top: 20%;
  margin-bottom: 4%;
  width: 80%;
  color: black;
}

.section-2 .para{
  width: 80%;
  margin-bottom: 7%;
  color: black;
}

.section-2 .btn{
  margin-bottom: 15%;
  width: 30%;
  padding: 2%;
}

/* section 3 */

.section-3{
  margin-top: 6%;
}

.section-3 .second-icon {
  margin-left: 5%;
}

.section-3 i{
  color: #2E4053;
}

/*  section 4 */

.section-4 {
  margin-top: 8%;
}

.section-4 .row .col-md-7, .col-md-5{
  margin-top: 10%;
  margin-bottom: 10%;
}

.section-4 .para-1 {
  margin-top: 7%;
  font-size: 23px;
}

/*   service page titles*/

.service-titles .jumbotron{
  background-image:url("img/account-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0PX;
  font-size: 50px;
  color: black;
  padding: 10%;
}

/* service quote */

.service-quote{
width: 100%;

}
.service-quote .card-body{
  padding-left: 25%;
  padding-right: 25%;
}

/* service - cards  */

.service-cards{
  padding: 5%;
}

.Service-row1 {
  margin-top: 2%;
}

.Service-row2 {
  margin-top: 5%;

}

/* Team  */

.Team-titles .jumbotron{
  background-image:url("img/teampump.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 5%;
  font-size: 50px;
  color: white;
  padding: 10%;

}

/* contact */

.contact-tittles .jumbotron {
  background-image:url("img/contact.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0PX;
  font-size: 50px;
  color: white;
  padding: 10%;
}

/* Style inputs with type="text", select elements and textareas */
.emailform input[type=text], .emailform select, .emailform textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.emailform input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.emailform input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.emailform .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* get in touch icons */

.getintouch {
  margin-top: 0%;
  margin-bottom: 5%;
  color: black;
}

.getintouch .intouch{
  margin-bottom: 2%;
  padding-top: 5%;

}

.getintouch .icon-col{
  margin: 0px;
  padding: 0px;
}



@media screen and (max-width: 768px){
  .section-1 .card {
    width: 14rem;
    padding: 2px;
    margin: 10px;
  }
  .section-4 .col-md-7 img{
    width: 350px;
  }

}
