html {
  font-family: 'Arimo', sans-serif;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: 'Arimo';
}

.nav-link {
  font: 16px;
  margin: 15px;
  color: black !important;
}

.nav-link:hover{
  color: #B3B6B7 !important;
}

.active .nav-link{
  color: #1C2833;
}

div.site-summary{
  background-image:url("img/young-family.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.site-title, .site-desc {
  color: white;
}
.site-title{
  margin-top: 30%;
  margin-bottom: 6%;
  font-size: 50px;
}

.site-title, .card-text{

  padding: 10px;
}

.site-desc{
  font-size: 14px;
  padding-left: 15%;
}

.site-btn1{
  margin-left: 20%;
  background-color: black;
  color: white;
}

.site-btn2{
  background-color: white;
}

.site-btn1, .site-btn2{
  margin-top: 5%;
  margin-bottom: 40%;
}

/* section one */

.section-1, .heading-1{
  margin-top:8%;
}

.section-1, .para1{
  widows: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
}

.section-1 .card{
  width: 20rem;
  }

.section-1, .card-text, .para1{
  color: #283747;
}

.section-1{
  margin: 8%;
}

/* section 2 */

.section-2 .container-fluid{
  background-image: url("img/financial-consult.jpg");
  background-size: cover;
  background-attachment: fixed;
}


.section-2 .heading-1{
  margin-top: 20%;
  margin-bottom: 4%;
  width: 80%;
  color: black;
}

.section-2 .para{
  width: 80%;
  margin-bottom: 7%;
  color: black;
}

.section-2 .btn{
  margin-bottom: 15%;
  width: 30%;
  padding: 2%;
}

/* section 3 */

.section-3{
  margin-top: 6%;
}

.section-3 .second-icon {
  margin-left: 5%;
}

.section-3 i{
  color: #2E4053;
}

/*  section 4 */

.section-4 {
  margin-top: 8%;
}

.section-4 .row .col-md-7, .col-md-5{
  margin-top: 10%;
  margin-bottom: 10%;
}

.section-4 .para-1 {
  margin-top: 7%;
  font-size: 23px;
}





@media screen and (max-width: 768px){
  .section-1 .card {
    width: 14rem;
    padding: 2px;
    margin: 10px;
  }
  .section-4 .col-md-7 img{
    width: 350px;
  }

}
